---
layout: default
---

{%- if page.title -%}
<!--   <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} -->

{{ content }}

<!-- {%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          </ <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div> -->
        <!-- <div class="post">
                  {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%}
                </div>
      </li>
    {%- endfor -%}
  </ul> --> 
  
  <!-- Console -->
 <!--  <div id="code">
    <div id="console">
      &gt; Daniel.origin<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Los Angeles, CA"<br/><br/></span>
      &gt; Daniel.education<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Marist College"<br/><br/></span>
      &gt; Daniel.major<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Information Technology and Systems"<br/><br/></span>
      &gt; Daniel.concentration<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Systems"<br/><br/></span>
      &gt; Daniel.minor<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br/><br/></span>
      &gt; Daniel.expectedGraduation<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "May 2021"<br/><br/></span>
      &gt; Daniel.interests<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; ["Design", "Code", "Coffee", "Typography", "Music", "Editing", "Fashion"]<br/><br/></span>
      &gt; Daniel.workExperience.latest<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "Snap Inc"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Software Engineer"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "June 2021"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "Present"<br/>
      <br/></span>
      &gt; Daniel.resume<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="danieladdison.pdf">danieladdison.pdf</a>"<br/><br/></span>
      &gt; Daniel.thoughts<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; ["<a target="_blank" href="http://www.twitter.com/danieladdsn">@danieladdsn</a>",
         "<a target="_blank" href="https://www.danieladdsn.com/blog">advancedsettings.tumblr.com</a>",
         "<a target="_blank" href="https://music.apple.com/profile/danieladdsn">applemusic</a>"]<br/><br/></span>
      &gt; Daniel.email<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:daniel9addison@gmail.com">daniel9addison@gmail.com</a>"<br/><br/></span>
    </div>
  </div>
</div>
<br/>
</div> -->

<div class="post">
  <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&gt; Daniel.origin
=&gt; "Los Angeles, CA"

&gt; Daniel.education
=&gt; "Marist College"

&gt; Daniel.major
=&gt; "Information Systems &amp; Technology"

&gt; Daniel.concentration
=&gt; "Information Systems"

&gt; Daniel.minor
=&gt; "Computer Science"

&gt; Daniel.expectedGraduation
=&gt; "May 2021"

&gt; Daniel.interests
=&gt; ["Design", "Code", "coffee", "typography", "music", "editing", "fashion"]

&gt; Daniel.workExperience.latest
=&gt; Latest Work Experience
      company: "Snap Inc."
      role: "Snap Engineering Academy Intern"
      startDate: "June 2021"
      endDate: "August 2021"

&gt; Daniel.resume
=&gt; "danieladdison.pdf"

&gt; Daniel.thoughts
=&gt; ["@danieladdison", "https://www.danieladdsn.com/blog"]

&gt; Daniel.email
=&gt; "daniel9addison@gmail.com"
</code></pre></div></div>

</div>

{%- endif -%}
