
layout: default

{%- if page.title -%}
<!--   <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} -->

{{ content }}

<!-- {%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          </ <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div> -->
        <!-- <div class="post">
                  {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%}
                </div>
      </li>
    {%- endfor -%}
  </ul> --> 
  
  <!-- Console -->
 <!--  <div id="code">
    <div id="console">
      &gt; Daniel.origin<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Los Angeles, CA"<br/><br/></span>
      &gt; Daniel.education<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Marist College"<br/><br/></span>
      &gt; Daniel.major<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Information Technology and Systems"<br/><br/></span>
      &gt; Daniel.concentration<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Systems"<br/><br/></span>
      &gt; Daniel.minor<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br/><br/></span>
      &gt; Daniel.expectedGraduation<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "May 2021"<br/><br/></span>
      &gt; Daniel.interests<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; ["Design", "Code", "Coffee", "Typography", "Music", "Editing", "Fashion"]<br/><br/></span>
      &gt; Daniel.workExperience.latest<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "Snap Inc"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Software Engineer"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "June 2021"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "Present"<br/>
      <br/></span>
      &gt; Daniel.resume<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="danieladdison.pdf">danieladdison.pdf</a>"<br/><br/></span>
      &gt; Daniel.thoughts<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; ["<a target="_blank" href="http://www.twitter.com/danieladdsn">@danieladdsn</a>",
         "<a target="_blank" href="https://www.danieladdsn.com/blog">advancedsettings.tumblr.com</a>",
         "<a target="_blank" href="https://music.apple.com/profile/danieladdsn">applemusic</a>"]<br/><br/></span>
      &gt; Daniel.email<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:daniel9addison@gmail.com">daniel9addison@gmail.com</a>"<br/><br/></span>
    </div>
  </div>
</div>
<br/>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">
<title>About Me</title>
<!-- Begin Jekyll SEO tag v2.7.1 -->
<title>About Me | portfolio</title>
<meta name="generator" content="Jekyll v4.2.0" />
<meta property="og:title" content="About Me" />
<meta name="author" content="Daniel Addison" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="``` Daniel.origin =&gt; “Los Angeles, CA”" />
<meta property="og:description" content="``` Daniel.origin =&gt; “Los Angeles, CA”" />
<meta property="og:site_name" content="portfolio" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="2021-04-16T00:00:00-04:00" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="About Me" />
<script type="application/ld+json">
{"@type":"BlogPosting","description":"``` Daniel.origin =&gt; “Los Angeles, CA”","headline":"About Me","dateModified":"2021-04-16T00:00:00-04:00","datePublished":"2021-04-16T00:00:00-04:00","mainEntityOfPage":{"@type":"WebPage","@id":"/javascript/nodejs/2021/04/16/welcome-to-jekyll.html"},"author":{"@type":"Person","name":"Daniel Addison"},"url":"/javascript/nodejs/2021/04/16/welcome-to-jekyll.html","@context":"https://schema.org"}</script>
<!-- End Jekyll SEO tag -->


<script type="text/javascript" src="/assets/js/darkmode.js"></script>

</head><body>
  <main class="container">
    <section class="about">
      <div class="about-header condensed">
      <div class="about-title">
      <a href=>
        
        <img class="light" src="/assets/portfolio.png" alt="Daniel Addison" />
        <img class="dark" src="/assets/portfolio_dark.png" alt="Daniel Addison" />
        
      </a>
      <h2 id="title">
        Daniel Addison
      </h2>
      </div><p class="tagline">Hello world! I am a Software Developer & Designer</p></div>
      
      <ul class="social about-footer condensed"><a href="https://github.com/danieladd9" target="_blank">
          <li>
            <i class="icon-github-circled"></i>
          </li>
        </a><a href="https://www.linkedin.com/in/Danieladdsn" target="_blank">
          <li>
            <i class="icon-linkedin-squared"></i>
          </li>
        </a><a href="mailto:daniel9addison@gmail.com" target="_blank">
          <li>
            <i class="icon-mail-alt"></i>
          </li>
        </a></ul><nav class="navigation about-footer condensed">
        <ul>
          
          <li>
            <a href="https://docs.google.com/document/d/1g-Z6-hIVeqyo9y3SFAKzIJ1mcBkYcPnmoWd0trXzMj4/edit?usp=sharing">Resume</a>
          </li>
          
        </ul>
      </nav><p class="about-footer condensed">&copy;
        2021</p><div class="about-footer condensed">
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" class="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
    </section>
    <section class="content">
      <div class="post-container">
  <a class="post-link" href="/javascript/nodejs/2021/04/16/welcome-to-jekyll.html">
    <h2 class="post-title">About Me</h2>
  </a>
  <div class="post-meta">
    <!-- <div class="post-date"><i class="icon-calendar"></i>Apr 16, 2021</div> --><ul class="post-categories"><li>Javascript</li><li>NodeJS</li></ul></div>
  <div class="post">
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&gt; Daniel.origin
  =&gt; "Los Angeles, CA"

&gt; Daniel.education
  =&gt; "Marist College"

&gt; Daniel.major
	=&gt; "Information Systems &amp; Technology"

&gt; Daniel.concentration
	=&gt; "Information Systems"

&gt; Daniel.minor
  =&gt; "Computer Science"

&gt; Daniel.expectedGraduation
  =&gt; "May 2021"

&gt; Daniel.interests
  =&gt; ["Design", "Code", "coffee", "typography", "music", "editing", "fashion"]

&gt; Daniel.workExperience.latest
  =&gt; Latest Work Experience
        company: "Snap Inc."
        role: "Snap Engineering Academy Intern"
        startDate: "June 2021"
        endDate: "August 2021"

&gt; Daniel.resume
  =&gt; "danieladdison.pdf"

&gt; Daniel.thoughts
  =&gt; ["@danieladdison", "https://www.danieladdsn.com/blog"]

&gt; Daniel.email
  =&gt; "daniel9addison@gmail.com"
</code></pre></div></div>

  </div>

    </section>
    <footer class="condensed">
      <ul class="social about-footer condensed"><a href="https://github.com/danieladd9" target="_blank">
          <li>
            <i class="icon-github-circled"></i>
          </li>
        </a><a href="https://www.linkedin.com/in/Danieladdsn" target="_blank">
          <li>
            <i class="icon-linkedin-squared"></i>
          </li>
        </a><a href="mailto:daniel9addison@gmail.com" target="_blank">
          <li>
            <i class="icon-mail-alt"></i>
          </li>
        </a></ul><nav class="navigation about-footer condensed">
        <ul>
          
          <li>
            <a href="https://docs.google.com/document/d/1g-Z6-hIVeqyo9y3SFAKzIJ1mcBkYcPnmoWd0trXzMj4/edit?usp=sharing">Resume</a>
          </li>
          
        </ul>
      </nav><p class="about-footer condensed">&copy;
        2021</p><div class="about-footer condensed">
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" class="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
    </footer>
  </main>
  
  <script type="text/javascript" src="/assets/js/darkmode.js"></script>
  


  
  <script src="/assets/js/simple-jekyll-search.min.js"></script>
  <script src="/assets/js/search.js"></script>
  

</html>